:root {
  --dark: #16181a;
  --light: #e6eff3;
  --green: #007672;
}

html {
  font-size: 50%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: sans-serif;
  color: var(--light);
  background: url("img/bg.jpg") no-repeat fixed left;
  background-size: cover;
}

.header,
.footer {
  background-color: var(--dark);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;

  padding: 2rem;
}

.header__title {
  margin: 0;
}

.main {
  flex: 1;
  padding: 2rem;

  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 3rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.gallery__picture:target {
  filter: drop-shadow(0 0 1rem var(--green)) saturate(2);
}

.gallery__img {
  display: block;
  width: 100%;
  border-radius: 2rem;
}

.nav {
  align-self: start;
  position: sticky;
  top: 2rem;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.list__link:link,
.list__link:visited {
  display: block;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--dark);

  text-decoration: none;
  color: inherit;
  font-size: 2rem;

  transition: all 0.2s ease-in;
}

.list__link:hover,
.list__link:focus {
  background-color: var(--green);
  color: var(--dark);
  box-shadow: 0 0 1rem var(--green);
}

@media only screen and (min-width: 37.5em) {
  html {
    font-size: 62.5%;
  }

  .main {
    grid-template-columns: 2fr 1fr;
  }
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 75em) {
  .container {
    max-width: 120rem;
    padding-inline: 3rem;
    margin-inline: auto;
  }

  .main {
    grid-template-columns: 3fr 1fr;
  }
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
